{% extends "common/base.html" %}

{% block contents %}
	<h3>Favourites</h3>
	<div id="content1" class="button">
	    <a class="button" href="{% url 'common:todo' %}">TODO</a>
	</div>
	<div id="content2" class="button">
	    <a class="button" href="#">Bookmarks</a>
	</div>
	<div id="content3" class="button">
	    <a class="button" href="#">Notes</a>
	</div>
	<div id="content4" class="button">
	    <a class="button" href="#">Checkout</a>
	</div>
	<div id="content5" class="button">
	    <a class="button" href="#">MSSB</a>
	</div>
{% endblock contents %}