/*Misc*/
html, body {height: 100%;}

/*Buttons*/
.button {
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.button a:link{
    text-decoration: none;
}
.button a:hover{
    background-color: darkgray;
    text-decoration: none;
}
.button a:active{
    background-color: white;
    text-decoration: none;
}

/*Grid Layout*/
* {box-sizing: border-box;}

[class*="col-"]{
    float: left;
    padding: 5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Title*/
div#title {
    text-align: center;
    color: cornflowerblue;
    font-family: monospace; 
    background-color: black;
}

a#home-button{
    float:right;
}

/*Side-Bar*/
div#side-bar{
    color: buttonface;
    font-family: monospace;
    background-color: black;
    border-style: solid;
    border-width: 5px 0px;
    border-color: white;
    height: 100%;
}

div#side-bar ul{
   margin: auto;
   list-style-type: none;
   width: 80%;
   padding: 10px;
}

/*Content*/
div#content{
    color: buttonface;
    font-family: monospace;
    background-color: black;
    border-style: solid;
    border-width: 5px 0px 5px 5px;
    border-color: white;
    height: 100%;
}